<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ps.citizen3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RepsNow"
        android:name=".App"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="RepsNow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OfficialActivity" />
        <activity android:name=".ui.Elections" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcxKbHkBRKi-PzQ0zRnQu02UC_6d1Gk6E"/>
    </application>

</manifest>
